In [49]:
import datetime
import pandas as pd

In [50]:
data = pd.read_csv('data/한국가스공사_시간별 공급량_20181231.csv', encoding='cp949')
temp = pd.read_csv('data/avg_temp.csv')

In [51]:
data.columns = ['date', 'time', 'sep', 'target']

In [52]:
# map function
time_map = {'0:00': 1, '1:00': 2, '2:00': 3, '3:00': 4, '4:00': 5, '5:00': 6,
           '6:00': 7, '7:00': 8, '8:00': 9, '9:00': 10, '10:00': 11, '11:00': 12,
           '12:00': 13, '13:00': 14, '14:00': 15, '15:00': 16, '16:00': 17, '17:00': 18,
           '18:00': 19, '19:00': 20, '20:00': 21, '21:00': 22, '22:00': 23, '23:00': 24}

temp['date'] = temp['time'].apply(lambda x: x.split()[0])
temp['time'] = temp['time'].apply(lambda x: x.split()[1])
temp['time'] = temp['time'].map(time_map)

# reorder columns
temp = temp[['date', 'time', 'temp']]

In [53]:
result = data.merge(right=temp, how='inner', on=['date', 'time'])

In [54]:
result

              date  time sep    target      temp
0       2013-01-01     1   A  2497.129 -7.080460
1       2013-01-01     1   B  2169.093 -7.080460
2       2013-01-01     1   C   226.178 -7.080460
3       2013-01-01     1   D  1434.516 -7.080460
4       2013-01-01     1   E  3272.837 -7.080460
...            ...   ...  ..       ...       ...
368076  2018-12-31    24   C   237.911 -3.665556
368077  2018-12-31    24   D  1422.478 -3.665556
368078  2018-12-31    24   E  3534.260 -3.665556
368079  2018-12-31    24   G  3982.757 -3.665556
368080  2018-12-31    24   H   560.896 -3.665556

[368081 rows x 5 columns]

In [33]:
result['datetime'] = [pd.to_datetime(result['date'][i]) + datetime.timedelta(hours=int(result['time'][i])) for i in range(result.shape[0])]

In [35]:
result = result.drop(labels=['date', 'time'], axis=1)

In [36]:
result = result[['datetime', 'sep', 'temp', 'target']]

In [42]:
result

                  datetime sep      temp    target
0      2013-01-01 01:00:00   A -7.080460  2497.129
1      2013-01-01 01:00:00   B -7.080460  2169.093
2      2013-01-01 01:00:00   C -7.080460   226.178
3      2013-01-01 01:00:00   D -7.080460  1434.516
4      2013-01-01 01:00:00   E -7.080460  3272.837
...                    ...  ..       ...       ...
368076 2019-01-01 00:00:00   C -3.665556   237.911
368077 2019-01-01 00:00:00   D -3.665556  1422.478
368078 2019-01-01 00:00:00   E -3.665556  3534.260
368079 2019-01-01 00:00:00   G -3.665556  3982.757
368080 2019-01-01 00:00:00   H -3.665556   560.896

[368081 rows x 4 columns]

In [46]:
test = pd.read_csv('data/test.csv')

In [48]:
test.head(24)

           일자|시간|구분
0   2019-01-01 01 A
1   2019-01-01 02 A
2   2019-01-01 03 A
3   2019-01-01 04 A
4   2019-01-01 05 A
5   2019-01-01 06 A
6   2019-01-01 07 A
7   2019-01-01 08 A
8   2019-01-01 09 A
9   2019-01-01 10 A
10  2019-01-01 11 A
11  2019-01-01 12 A
12  2019-01-01 13 A
13  2019-01-01 14 A
14  2019-01-01 15 A
15  2019-01-01 16 A
16  2019-01-01 17 A
17  2019-01-01 18 A
18  2019-01-01 19 A
19  2019-01-01 20 A
20  2019-01-01 21 A
21  2019-01-01 22 A
22  2019-01-01 23 A
23  2019-01-01 24 A