In [1]:
import pandas as pd

### temperature

In [2]:
temp_2013 = pd.read_csv('data/temp_2013.csv', encoding='cp949')
temp_2014 = pd.read_csv('data/temp_2014.csv', encoding='cp949')
temp_2015 = pd.read_csv('data/temp_2015.csv', encoding='cp949')
temp_2016 = pd.read_csv('data/temp_2016.csv', encoding='cp949')
temp_2017 = pd.read_csv('data/temp_2017.csv', encoding='cp949')
temp_2018 = pd.read_csv('data/temp_2018.csv', encoding='cp949')

In [3]:
names = ['loc', 'location', 'time', 'temp']

temp_2013.columns = names
temp_2014.columns = names
temp_2015.columns = names
temp_2016.columns = names
temp_2017.columns = names
temp_2018.columns = names

temp_2013 = temp_2013.loc[:, ['time', 'temp']]
temp_2014 = temp_2014.loc[:, ['time', 'temp']]
temp_2015 = temp_2015.loc[:, ['time', 'temp']]
temp_2016 = temp_2016.loc[:, ['time', 'temp']]
temp_2017 = temp_2017.loc[:, ['time', 'temp']]
temp_2018 = temp_2018.loc[:, ['time', 'temp']]

In [4]:
temp = pd.concat(objs=[temp_2013.groupby(by='time').mean(), temp_2014.groupby(by='time').mean(), temp_2015.groupby(by='time').mean(), \
                      temp_2016.groupby(by='time').mean(), temp_2017.groupby(by='time').mean(), temp_2018.groupby(by='time').mean()], axis=0)

In [5]:
temp.to_csv('data/avg_temp.csv')

### humidity

In [6]:
humidity_2013 = pd.read_csv('data/humidity_2013.csv', encoding='cp949')
humidity_2014 = pd.read_csv('data/humidity_2014.csv', encoding='cp949')
humidity_2015 = pd.read_csv('data/humidity_2015.csv', encoding='cp949')
humidity_2016 = pd.read_csv('data/humidity_2016.csv', encoding='cp949')
humidity_2017 = pd.read_csv('data/humidity_2017.csv', encoding='cp949')
humidity_2018 = pd.read_csv('data/humidity_2018.csv', encoding='cp949')

In [7]:
names = ['loc', 'location', 'time', 'humidity']

humidity_2013.columns = names
humidity_2014.columns = names
humidity_2015.columns = names
humidity_2016.columns = names
humidity_2017.columns = names
humidity_2018.columns = names

humidity_2013 = humidity_2013.loc[:, ['time', 'humidity']]
humidity_2014 = humidity_2014.loc[:, ['time', 'humidity']]
humidity_2015 = humidity_2015.loc[:, ['time', 'humidity']]
humidity_2016 = humidity_2016.loc[:, ['time', 'humidity']]
humidity_2017 = humidity_2017.loc[:, ['time', 'humidity']]
humidity_2018 = humidity_2018.loc[:, ['time', 'humidity']]

In [8]:
humidity = pd.concat(objs=[humidity_2013.groupby(by='time').mean(), humidity_2014.groupby(by='time').mean(), humidity_2015.groupby(by='time').mean(), \
                       humidity_2016.groupby(by='time').mean(), humidity_2017.groupby(by='time').mean(), humidity_2018.groupby(by='time').mean()], axis=0)

In [9]:
humidity.to_csv('data/avg_humidity.csv')

## merge

In [10]:
data = pd.read_csv('data/merge_total_211206.csv', encoding='cp949', index_col=0)

In [11]:
data.head()

,연월일,시간,구분,공급량,year,month,day,weekday,특수일_x,특수일_y,추정치,temp
0,2013-01-01,0,0,2497.129,2013,1,1,1,근무일,신정,-0.173,-7.080460
1,2013-01-01,1,0,2363.265,2013,1,1,1,근무일,신정,-0.173,-7.491954
2,2013-01-01,2,0,2258.505,2013,1,1,1,근무일,신정,-0.173,-7.732184
3,2013-01-01,3,0,2243.969,2013,1,1,1,근무일,신정,-0.173,-7.840230
4,2013-01-01,4,0,2344.105,2013,1,1,1,근무일,신정,-0.173,-8.059770

In [12]:
humidity = humidity.reset_index()
humidity['time'] = pd.to_datetime(humidity['time'])

In [13]:
humidity['year'] = humidity['time'].dt.year
humidity['month'] = humidity['time'].dt.month
humidity['day'] = humidity['time'].dt.day
humidity['시간'] = humidity['time'].dt.hour

In [14]:
merge = data.merge(right=humidity.drop(labels=['time'], axis=1), how='inner', on=['year', 'month', 'day', '시간'])

In [15]:
merge.head()

,연월일,시간,구분,공급량,year,month,day,weekday,특수일_x,특수일_y,추정치,temp,humidity
0,2013-01-01,0,0,2497.129,2013,1,1,1,근무일,신정,-0.173,-7.08046,76.988506
1,2013-01-01,0,1,2169.093,2013,1,1,1,근무일,신정,-0.173,-7.08046,76.988506
2,2013-01-01,0,2,226.178,2013,1,1,1,근무일,신정,-0.173,-7.08046,76.988506
3,2013-01-01,0,3,1434.516,2013,1,1,1,근무일,신정,-0.173,-7.08046,76.988506
4,2013-01-01,0,4,3272.837,2013,1,1,1,근무일,신정,-0.173,-7.08046,76.988506

In [16]:
merge.to_csv('data/merge_total_211209.csv')