In [1]:
import pandas as pd

### temperature - train

In [2]:
temp_2013 = pd.read_csv('data/temp_2013.csv', encoding='cp949')
temp_2014 = pd.read_csv('data/temp_2014.csv', encoding='cp949')
temp_2015 = pd.read_csv('data/temp_2015.csv', encoding='cp949')
temp_2016 = pd.read_csv('data/temp_2016.csv', encoding='cp949')
temp_2017 = pd.read_csv('data/temp_2017.csv', encoding='cp949')
temp_2018 = pd.read_csv('data/temp_2018.csv', encoding='cp949')

In [3]:
names = ['loc', 'location', 'time', 'temp']

temp_2013.columns = names
temp_2014.columns = names
temp_2015.columns = names
temp_2016.columns = names
temp_2017.columns = names
temp_2018.columns = names

temp_2013 = temp_2013.loc[:, ['time', 'temp']]
temp_2014 = temp_2014.loc[:, ['time', 'temp']]
temp_2015 = temp_2015.loc[:, ['time', 'temp']]
temp_2016 = temp_2016.loc[:, ['time', 'temp']]
temp_2017 = temp_2017.loc[:, ['time', 'temp']]
temp_2018 = temp_2018.loc[:, ['time', 'temp']]

In [4]:
temp = pd.concat(objs=[temp_2013.groupby(by='time').mean(), temp_2014.groupby(by='time').mean(), temp_2015.groupby(by='time').mean(), \
                      temp_2016.groupby(by='time').mean(), temp_2017.groupby(by='time').mean(), temp_2018.groupby(by='time').mean()], axis=0)

In [5]:
temp.to_csv('data/avg_temp.csv')

### temperature - test

In [6]:
temp_2019 = pd.read_csv('data/temp_2019.csv', encoding='cp949') # 20190101 ~ 20190331

In [7]:
temp_2019.columns = names

temp_2019 = temp_2019.loc[:, ['time', 'temp']]

In [8]:
temp_test = pd.DataFrame(columns=['temp'])

for i in range(7):
    temp_test = pd.concat(objs=[temp_test, temp_2019.groupby(by='time').mean()], axis=0)

temp_test = temp_test.reset_index(drop=True)

### humidity - train

In [9]:
humidity_2013 = pd.read_csv('data/humidity_2013.csv', encoding='cp949')
humidity_2014 = pd.read_csv('data/humidity_2014.csv', encoding='cp949')
humidity_2015 = pd.read_csv('data/humidity_2015.csv', encoding='cp949')
humidity_2016 = pd.read_csv('data/humidity_2016.csv', encoding='cp949')
humidity_2017 = pd.read_csv('data/humidity_2017.csv', encoding='cp949')
humidity_2018 = pd.read_csv('data/humidity_2018.csv', encoding='cp949')

In [10]:
names = ['loc', 'location', 'time', 'humidity']

humidity_2013.columns = names
humidity_2014.columns = names
humidity_2015.columns = names
humidity_2016.columns = names
humidity_2017.columns = names
humidity_2018.columns = names

humidity_2013 = humidity_2013.loc[:, ['time', 'humidity']]
humidity_2014 = humidity_2014.loc[:, ['time', 'humidity']]
humidity_2015 = humidity_2015.loc[:, ['time', 'humidity']]
humidity_2016 = humidity_2016.loc[:, ['time', 'humidity']]
humidity_2017 = humidity_2017.loc[:, ['time', 'humidity']]
humidity_2018 = humidity_2018.loc[:, ['time', 'humidity']]

In [11]:
humidity = pd.concat(objs=[humidity_2013.groupby(by='time').mean(), humidity_2014.groupby(by='time').mean(), humidity_2015.groupby(by='time').mean(), \
                       humidity_2016.groupby(by='time').mean(), humidity_2017.groupby(by='time').mean(), humidity_2018.groupby(by='time').mean()], axis=0)

In [12]:
humidity.to_csv('data/avg_humidity.csv')

### humidity - test

In [13]:
humidity_2019 = pd.read_csv('data/humidity_2019.csv', encoding='cp949') # 20190101 ~ 20190331

In [14]:
humidity_2019.columns = names

humidity_2019 = humidity_2019.loc[:, ['time', 'humidity']]

In [15]:
humidity_test = pd.DataFrame(columns=['humidity'])

for i in range(7):
    humidity_test = pd.concat(objs=[humidity_test, humidity_2019.groupby(by='time').mean()], axis=0)
    
humidity_test = humidity_test.reset_index(drop=True)

### merge - train

In [16]:
data = pd.read_csv('data/merge_total_211206.csv', encoding='cp949', index_col=0)

In [17]:
data.head()

,연월일,시간,구분,공급량,year,month,day,weekday,특수일_x,특수일_y,추정치,temp
0,2013-01-01,0,0,2497.129,2013,1,1,1,근무일,신정,-0.173,-7.080460
1,2013-01-01,1,0,2363.265,2013,1,1,1,근무일,신정,-0.173,-7.491954
2,2013-01-01,2,0,2258.505,2013,1,1,1,근무일,신정,-0.173,-7.732184
3,2013-01-01,3,0,2243.969,2013,1,1,1,근무일,신정,-0.173,-7.840230
4,2013-01-01,4,0,2344.105,2013,1,1,1,근무일,신정,-0.173,-8.059770

In [18]:
temp = temp.reset_index()
temp['time'] = pd.to_datetime(temp['time'])

In [19]:
temp['year'] = temp['time'].dt.year
temp['month'] = temp['time'].dt.month
temp['day'] = temp['time'].dt.day
temp['시간'] = temp['time'].dt.hour

In [20]:
humidity = humidity.reset_index()
humidity['time'] = pd.to_datetime(humidity['time'])

In [21]:
humidity['year'] = humidity['time'].dt.year
humidity['month'] = humidity['time'].dt.month
humidity['day'] = humidity['time'].dt.day
humidity['시간'] = humidity['time'].dt.hour

In [22]:
merge_train = data.merge(right=humidity.drop(labels=['time'], axis=1), how='inner', on=['year', 'month', 'day', '시간'])

In [23]:
merge_train.head()

,연월일,시간,구분,공급량,year,month,day,weekday,특수일_x,특수일_y,추정치,temp,humidity
0,2013-01-01,0,0,2497.129,2013,1,1,1,근무일,신정,-0.173,-7.08046,76.988506
1,2013-01-01,0,1,2169.093,2013,1,1,1,근무일,신정,-0.173,-7.08046,76.988506
2,2013-01-01,0,2,226.178,2013,1,1,1,근무일,신정,-0.173,-7.08046,76.988506
3,2013-01-01,0,3,1434.516,2013,1,1,1,근무일,신정,-0.173,-7.08046,76.988506
4,2013-01-01,0,4,3272.837,2013,1,1,1,근무일,신정,-0.173,-7.08046,76.988506

In [24]:
merge_train.to_csv('data/merge_total_211209.csv')

### merge - test

In [25]:
test = pd.read_csv('data/X_test.csv', encoding='utf-8')

In [26]:
test['temp'] = temp_test
test['humidity'] = humidity_test

In [27]:
test.head()

   month  day  weekday  시간 특수일_x 특수일_y    추정치      temp  구분   humidity
0      1    1        1   0   근무일    신정 -0.173 -4.045556   0  51.888889
1      1    1        1   1   근무일    신정 -0.173 -4.277778   0  53.944444
2      1    1        1   2   근무일    신정 -0.173 -4.547778   0  56.666667
3      1    1        1   3   근무일    신정 -0.173 -4.678889   0  58.377778
4      1    1        1   4   근무일    신정 -0.173 -4.840000   0  60.177778

In [28]:
test.to_csv('data/test_211209.csv')

### 20190101 ~ 20191231

In [29]:
temp_2019_2 = pd.read_csv('data/temp_2019_2.csv', encoding='cp949')

In [30]:
names = ['loc', 'location', 'time', 'temp']
temp_2019_2.columns = names

temp_2019_2 = temp_2019_2.loc[:, ['time', 'temp']].groupby(by='time').mean()

In [31]:
temp_test_2 = pd.DataFrame(columns=['temp'])

for i in range(7):
    temp_test_2 = pd.concat(objs=[temp_test_2, temp_2019_2.groupby(by='time').mean()], axis=0)
    
temp_test_2 = temp_test_2.reset_index(drop=True)

In [32]:
humidity_2019_2 = pd.read_csv('data/humidity_2019_2.csv', encoding='cp949')

In [33]:
names = ['loc', 'location', 'time', 'humidity']
humidity_2019_2.columns = names

humidity_2019_2 = humidity_2019_2.loc[:, ['time', 'humidity']].groupby(by='time').mean()

In [34]:
humidity_test_2 = pd.DataFrame(columns=['humidity'])

for i in range(7):
    humidity_test_2 = pd.concat(objs=[humidity_test_2, humidity_2019_2.groupby(by='time').mean()], axis=0)
    
humidity_test_2 = humidity_test_2.reset_index(drop=True)

In [35]:
test_2019 = temp_2019_2.merge(right=humidity_2019_2, how='inner', on='time')

In [36]:
test_2019.to_csv('data/test_2019.csv')